# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

<b>Objectives:</b>
- Create markdown cells
- Create tables in markdown cells
- simple arithmetic functions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. mlflow
3. scikit

| Data Science Tools |
| ----------- |
| GitHub |
| mlflow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author